@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #cecece;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 0;
	padding: 0;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.leaveRoomBtn{
	text-align: center;
	border: 1px solid white;
	padding: 4px 2px;
}

.btn {
    font-family: serif;
	cursor: pointer;
    font-weight: bold;
	padding: 0px 15px;
	background: rgb(12, 12, 12);
	color: rgb(245, 238, 238);
	border: 0;
	font-size: 15px;
	height: 30px;
}

/* Chat Page */

.chat-container {
	position: relative;
	display: grid;
	grid-template-rows: 60px 80vh 40px;  
	max-width: 800px;
	background-color:  rgb(220, 220, 220);
	overflow: hidden;
	margin: 10px auto;
	max-height: 93vh;
}

.chat-header {
	background: black;
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	justify-content: space-between;
	
}

.chat-main {
	position: absolute;
	height: 100%;
	display: grid;
	width: 100%;
	grid-template-columns: auto 1fr;

}

.chat-form-container {
    position: absolute;
	width: 100%;
	bottom: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px 5px;
	background-color: rgb(99, 99, 99);
	border: 1px solid rgb(65, 65, 65);
}


.chat-middle{
	position: relative;	
	
}



.chat-sidebar {
	background: rgb(51, 50, 50);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;	
	width: 200px;

}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgb(63, 63, 63);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul{
	word-wrap: break-word;
}


.chat-sidebar ul li {
	color: #0865d6;
	padding: 10px 0;
	font-family: serif;
}


.closebtn{
	display: none;
	font-weight: bold;
	font-size: 2.5rem;
}

.nav-bars{
	display: none;
	padding: 5px;
	font-size: 2rem;
	cursor: pointer;
}


@media (max-width: 675px) {
	.chat-container{
		margin: 0;
	}
	.nav-bars{
		display: block;
	}
	.chat-main{
		position: absolute;
		height: 100%;
	}
	.chat-sidebar {
		display: none;
		position: relative;
		padding: 10px;
		width: 150px;
	}
	.chat-sidebar h2{
		font-size: 15px;
		padding-left: 2px;
	}
	.chat-sidebar ul li{
		padding: 10px 10px 10px 5px;
	}
	.closebtn{
		padding: 5px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
	}
	.join-container{
		padding: 20px;
	}
}

.chat-messages {	
    background-image: linear-gradient(to bottom right, rgb(208, 208, 208), rgb(129, 125, 125)) ;
	padding: 30px;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.imgUpload{
	overflow: hidden;
	padding: 5px;
	margin-bottom: 15px;
	align-self: flex-end;
	min-height: 250px;
	min-width: 200px;

}

.other-imgUpload{
	overflow: hidden;
	padding: 5px;
	margin-bottom: 15px;
	align-self: flex-start;
	min-height: 250px;
	min-width: 200px;
	
}

.imgUpload img{
	height: 100%;
    width:  100%;
}

.chat-messages .other-message{
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgba(18, 133, 199, 0.193);
	border-radius: 5px;
	align-self: flex-start;
	font-family: 'Times New Roman', serif;
	max-width: 200px;
	font-weight: lighter;
}

.chat-messages .other-message .meta {
	font-size: 15px;
	
	color: rgb(70, 73, 213);
	opacity: 0.8;
	margin-bottom: 7px;
}

.chat-messages .other-message .meta span {
	color: #5b5b5b;
	font-weight: lighter;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	color: white;
	background-color: rgb(54, 53, 53);
	border-radius: 5px;
	align-self: flex-end;
	font-family:'Times New Roman', Times;
	max-width: 200px;
}

.chat-messages .message .meta {
	font-size: 15px;
	color: rgb(227, 227, 227);
	opacity: 0.8;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #40a7f5;
	font-weight: lighter;
}

.chat-messages .sys-msg{
	font-family: 'Times New Roman', Times;
	padding: 5px;
	margin-bottom: 10px;
	margin: 0 auto;
	text-align: center;
	opacity: 0.7;
}

.chat-form-container form {
	display: flex;
}

.custom-file-upload {
    border: 1px solid #ccc;	
    display: inline-block;
    padding: 0px 3px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 4px;
	font-size: 1.5rem;
	margin-right: 5px;
	height: 30px;
}


.custom-file-upload:hover {
    background-color: #49696f;
}

#file-upload {
    display: none;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 30px;
	flex: 1;
    outline: none;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}


.join-header {
    display: flex;
	text-align: center;
	padding: 20px;
	background: rgb(52, 51, 50);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: rgb(28, 27, 27);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eadcdc;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn-join {
	margin-top: 20px;
	width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 2px whitesmoke;
    font-size: 1rem;
}

.btn-join:hover{
    background-color: #888;
}


.numOnline{
	position: absolute;
	top: 5px;
	right: 15px;
	color: #087135;
	font-weight: bolder;
	padding: 5px;
	
}

.numOnline span{
	font-size: 1.3rem;
	font-family: 'Times New Roman', Times, serif;
}


